asgiref==3.4.1
certifi==2021.5.30
chardet==4.0.0
Django==3.2.5
django-scheduler==0.9.5
icalendar==4.0.7
idna==2.10
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
schedule==0.6.0
schedule-filter==0.2.1
schedule-jobs==0.0.4
schedule-manager==0.1.1
scheduled-task==1.0.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.6
